{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - {{ entity_singularized }} index
{{ "{% endblock %}" }}

{{ "{% block body %}" }}


<div id="top" class="row">

    <div class="col-md-12">
        <div class="page-header">
            <h3>{{ entity }}
                {% if with_filter == true %}
                    <a class="btn dropdown-toggle pull-right" data-toggle="collapse" data-target="#filters">
                        Filter
                        <span class="caret"></span>
                    </a>
                {% endif %}
            </h3>
        </div>
    </div>


    {% if with_filter == true %}
        <div class="col-md-12">
            {#        <div class="input-group h2">
                        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>#}
            {{ '{% if form_errors(filterForm) %}' }}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ '{{ form_errors(filterForm) }}' }}
            </div>
            {{ '{% endif %}' }}


            <div id="filters" class="collapse">

                <form class="well" action="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" method="get" >

                    {{ "{{ form_rest(filterForm) }}" }}

                    <p>
                        <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                        <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                    </p>
                </form>
            </div>
        </div>
    {% endif %}


</div> <!-- /#top -->



<div class="row">
    <div class="col-md-12">
        {{ '{% for type, flashMessages in app.session.flashbag.all() %} ' }}
        {{ '{% for flashMessage in flashMessages %}'}}
        <div class="alert alert-{{'{{ type }}'}}">
            {{'{{ flashMessage|raw }}'}}
        </div>
        {{' {% endfor %} ' }}
        {{' {% endfor %} ' }}
    </div>
</div>



<div id="list" class="row">

    {% if 'new' in actions %}
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </a>
        </div>
    {% endif %}



    {% if bulk_action == true %}
        <form method="POST" action="{{ "{{ path('"~ route_name_prefix ~"_bulk_action') }}" }} ">
        {% endif %}
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        {% if bulk_action == true %}

                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
                            {% endif %}

                        {%- for field, metadata in fields %}

                        <th>{{ field|capitalize }}</th>

                        {%- endfor %}

                        <th width = "130px">List</th>
                    </tr>
                </thead>
                <tbody>
                    {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                    <tr>
                        {% if bulk_action == true %}
                            <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{ "{{" ~entity_singularized ~ "."~ identifier~"}}" }}"/></td>
                            {% endif %}

                        {%- for field, metadata in fields %}
                        {%- if loop.first and ('show' in actions) %}

                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                        {%- elseif metadata.type in ['datetime'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                        {%- elseif metadata.type in ['date'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                        {%- elseif metadata.type in ['time'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                        {%- elseif metadata.type in ['array'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                        {%- elseif metadata.type in ['boolean'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                        {%- else %}

                        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                        {%- endif %}

                        {%- if loop.last %}

                        <td class="actions">
                            {%- include "crud/views/others/actions.html.twig.twig" %}
                        </td>

                        {%- endif %}
                        {%- endfor %}

                    </tr>
                    {{ '{% endfor %}' }}
                </tbody>
            </table>
        </div>
</div> <!-- /#list -->




<div id="bottom" class="row">
    {% if bulk_action == true %}
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="">--Choose--</option>
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        function toggleAll(source) {
            var aInputs = document.getElementsByTagName('input');
            for (var i = 0; i < aInputs.length; i++) {
                if (aInputs[i] != source && aInputs[i].className == source.className) {
                    aInputs[i].checked = source.checked;
                }
            }
            if (source.checked) {
                document.getElementById('bulkSubmitBtn').disabled = false;
            } else {
                document.getElementById('bulkSubmitBtn').disabled = true;

            }
        }

        //Checks if at least one checkbox is selected.
        function bulkSubmitBtnManage()
        {
            var checkboxs = document.getElementsByClassName("check-all");
            var selected = false;
            for (var i = 0, l = checkboxs.length; i < l; i++)
            {
                if (checkboxs[i].checked)
                {
                    selected = true;
                    break;
                }
            }
            if (selected) {
                document.getElementById('bulkSubmitBtn').disabled = false;
            } else {
                document.getElementById('bulkSubmitBtn').disabled = true;

            }
        }


    </script>
{% endif %}

<div class="col-md-6 col-md-offset-2 text-right">
    {{' {{ pagerHtml|raw }} '}}
</div>
</div> <!-- /#bottom -->



{{ "{% endblock %}" }}

