{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - {{ entity_singularized }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}

<div id="top" class="row">
    <div class="page-header">
        <h2>View {{ entity_singularized }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">

    <form class="form form-vertical">
        <fieldset>
            {%- for field, metadata in fields %}
            <div class="control-group">
                <label class="col-sm-2 control-label">{{ field|capitalize }}</label>
                <div class="col-sm-10">

                    {%- if metadata.type in ['datetime'] %}

                    <span class="input-xlarge uneditable-input">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</span>

                    {%- elseif metadata.type in ['date'] %}

                    <span class="input-xlarge uneditable-input">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</span>

                    {%- elseif metadata.type in ['time'] %}

                    <span class="input-xlarge uneditable-input">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</span>

                    {%- elseif metadata.type in ['array'] %}

                    <span class="input-xlarge uneditable-input">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</span>

                    {%- elseif metadata.type in ['boolean'] %}

                    <span class="input-xlarge uneditable-input">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</span>

                    {%- else %}

                    <span class="input-xlarge uneditable-input">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</span>

                    {%- endif %}

                </div>
            </div>
            {%- endfor %}
        </fieldset>
    </form>
    <hr>
    {% set hide_edit, hide_delete, hide_new= false, false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>

{{ "{% endblock %}" }}

