
    /**
     * Displays a form to create a new {{ entity }} entity.
     *
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method({"GET", "POST"})
{% endif %}
     */
    public function newAction(Request $request)
    {
    
        ${{ entity_singularized }} = new {{ entity_class }}();
        $form   = $this->createForm('{{ namespace }}\Form\{{ entity_class }}Type', ${{ entity_singularized }});
        $form->handleRequest($request);

        if ($form->isSubmitted() && $form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $em->persist(${{ entity_singularized }});
            $em->flush();
            
            $editLink = $this->generateUrl('{{route_name_prefix}}_edit', array('id' => ${{ entity_singularized }}->getId()));
            $this->get('session')->getFlashBag()->add('success', "<a href='$editLink'>New {{ entity_singularized }} was created successfully.</a>" );
            
            $nextAction=  $request->get('submit') == 'save' ? '{{route_name_prefix}}' : '{{route_name_prefix}}_new';
            return $this->redirectToRoute($nextAction);
        }
{% if bundle_views == false%}
        return $this->render('{{ entity|lower|replace({'\\': '/'}) }}/new.html.twig', array(
{%else%}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:new.html.twig', array(
{% endif %}
            '{{ entity_singularized }}' => ${{ entity_singularized }},
            'form'   => $form->createView(),
        ));
    }
    
