
<div class="col-md-3 pull-left">
    {% include 'crud/views/others/page_size.html.twig.twig' %}
</div>


<!-- FILTERING -->
<div class="col-md-6">
    <form action="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" method="get" >

        <div class="input-group h3">

            {{ "{{form_widget(filterForm.search, { 'attr': {'class': 'form-control'} })}}" }}
            {{ "{{form_rest(filterForm) }}"}}

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>

        </div>
    </form>
</div>
<!-- END FILTERING -->            
            
            

<div class="col-md-3">
    {% if 'new' in actions %}
        <a class="btn btn-primary h3 pull-right" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" style="margin-bottom:10px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
    {% endif %}
</div>

