   

<div class="col-md-12">
    <div class="page-header">
        <h2><a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">{{ entity }}</a></h2>
    </div>
</div>


<div class="col-md-3 pull-left">
{% if without_page_size == false %}

            <div class="pagination form-inline ">
                <select class = "form-control"  onchange="window.location = this.value" >
                   {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'show': '10'})) }}' {% if app.request.get('show') == 10 %} selected {% endif %}>10</option>"}}
                   {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'show': '20'})) }}' {% if app.request.get('show') == 20 %} selected {% endif %}>20</option>"}}
                   {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'show': '50'})) }}' {% if app.request.get('show') == 50 %} selected {% endif %}>50</option>"}}
                   {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'show': '100'})) }}' {% if app.request.get('show') == 100 %} selected {% endif %}>100</option>"}}
                   {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'show': '500'})) }}' {% if app.request.get('show') == 500 %} selected {% endif %}>500</option>"}}
                </select>
            </div>
{% endif%}
</div>

        <div class="col-md-6">
            <form action="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" method="get" >

                <div class="input-group h3">

                   {{ "{{form_widget(filterForm.search, { 'attr': {'class': 'form-control'} })}}" }}
                   {{ "{{form_rest(filterForm) }}"}}

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>

                </div>
            </form>
        </div>

<div class="col-md-3">
{% if 'new' in actions %}
            <a class="btn btn-primary h3 pull-right" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </a>
{% endif %}
</div>
<div class="col-md-12">
    {{ '{%- if form_errors(filterForm) %}' }}
    <div class="alert alert-block alert-error fade in form-errors">
        {{ '{{ form_errors(filterForm) }}' }}
    </div>
    {{ '{% endif %}' }}
</div>