    
{% if without_page_size == false %}
    <!-- PAGE SIZE -->
    <div class="pagination form-inline ">
        <select class = "form-control"  onchange="window.location = this.value" >
            {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>"}}
            {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>"}}
            {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>"}}
            {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>"}}
            {{"<option value='{{ path('"~ route_name_prefix ~"', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>"}}
        </select>
    </div>
    <!-- END PAGE SIZE -->

{% endif%}
